@import url(./backgruond.css);
@import url(./header.css);
@import url(./main.css);



:root {
    --text: #EDF1F7;
    --azul: #2DDAFA;
    --vermelho: #00CA6A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body, button, a{
    color: var(--text);
    font-family: 'Open Sans', sans-serif;

}

button:hover{
    cursor: pointer;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.burguer{
    display: none;
}

.xx{
    display: none;
}